<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<head>
    <style>
        body {
          background-color:lightsteelblue;
        }
        </style>
</head>
<body dir="rtl">
    {% for book in books %}
    <h1 style="color:rgb(31, 12, 204)">{{ book.onvan }}</h1>
    <p style="color:royalblue">{{ book.nevisande }}</p>
    <p style="color:royalblue">{{ book.tedade_safahat }}</p>
    <p style="color:black">{{ book.tozih }}</p>
    <h1 style="border:2px solid rgb(129, 0, 71);"></h1>
    {% endfor %}

</body>

</html>